apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: statusquarkusio-gn0t
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/e2e-demos-pidw-tenant/status-quarkus-io/statusquarkusio-gn0t@sha256:414e54ca6549167306fdfd87f9d0f09e9f09fa317d89652ab8d45f9a2d938258
        name: my-java-quarkus
        resources: {}
status: {}
